@keyframes wheel-1 {
  0% {
    background-color: var(--wheel-section);
  }
  12.5% {
    background-color: var(--wheel-section-hover);
  }
  37.5% {
    background-color: var(--wheel-section);
  }
}

@keyframes wheel-2 {
  12% {
    background-color: var(--wheel-section);
  }
  25% {
    background-color: var(--wheel-section-hover);
  }
  50% {
    background-color: var(--wheel-section);
  }
}

@keyframes wheel-3 {
  25% {
    background-color: var(--wheel-section);
  }
  37.5% {
    background-color: var(--wheel-section-hover);
  }
  62.5% {
    background-color: var(--wheel-section);
  }
}

@keyframes wheel-4 {
  37.5% {
    background-color: var(--wheel-section);
  }
  50% {
    background-color: var(--wheel-section-hover);
  }
  75% {
    background-color: var(--wheel-section);
  }
}

@keyframes wheel-5 {
  50% {
    background-color: var(--wheel-section);
  }
  62.5% {
    background-color: var(--wheel-section-hover);
  }
  87.5% {
    background-color: var(--wheel-section);
  }
}

@keyframes wheel-6 {
  62.5% {
    background-color: var(--wheel-section);
  }
  75% {
    background-color: var(--wheel-section-hover);
  }
  100% {
    background-color: var(--wheel-section);
  }
}

@keyframes wheel-7 {
  75% {
    background-color: var(--wheel-section);
  }
  87.5% {
    background-color: var(--wheel-section-hover);
  }
  0% {
    background-color: var(--wheel-section);
  }
}

@keyframes wheel-8 {
  87.5% {
    background-color: var(--wheel-section);
  }
  100% {
    background-color: var(--wheel-section-hover);
  }
  0% {
    background-color: var(--wheel-section-hover);
  }
  25% {
    background-color: var(--wheel-section);
  }
}

.wheel-simple-animation :first-child {
  animation-name: wheel-1;
}

.wheel-simple-animation :nth-child(2) {
  animation-name: wheel-2;
}

.wheel-simple-animation :nth-child(3) {
  animation-name: wheel-3;
}

.wheel-simple-animation :nth-child(4) {
  animation-name: wheel-4;
}
.wheel-simple-animation :nth-child(5) {
  animation-name: wheel-5;
}
.wheel-simple-animation :nth-child(6) {
  animation-name: wheel-6;
}
.wheel-simple-animation :nth-child(7) {
  animation-name: wheel-7;
}
.wheel-simple-animation :nth-child(8) {
  animation-name: wheel-8;
}
