.wheel {
  height: 9.24rem;
  width: 9.24rem;
  background-color: var(--wheel-section);
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  flex: none;
}

.wheel-section {
  width: 3.82rem;
  height: 4.62rem;
  background-color: var(--wheel-section);
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  position: absolute;
  animation-duration: var(--wheel-spin-duration);
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.no-animation > .wheel-section{
  animation: none;
}
.no-animation > .wheel-section:hover {
  background-color: var(--wheel-section-hover);
}

.wheel-center {
  width: 1rem;
  height: 1rem;
  background-color: var(--wheel-center);
  border-radius: 50%;
  left: calc(50% - 0.5rem);
  top: calc(50% - 0.5rem);
  position: relative;
}

.wheel :first-child {
  left: 2.71rem;
}

.wheel :nth-child(2) {
  left: 4.37rem;
  top: 0.66rem;
  transform: rotate(45deg);
}
.wheel :nth-child(3) {
  transform: rotate(90deg);
  right: 0.39rem;
  top: 2.31rem;
}

.wheel :nth-child(4) {
  transform: rotate(135deg);
  left: 4.37rem;
  bottom: 0.66rem;
}

.wheel :nth-child(5) {
  transform: rotate(180deg);
  bottom: 0;
  left: 2.71rem;
}

.wheel :nth-child(6) {
  transform: rotate(225deg);
  right: 4.37rem;
  bottom: 0.66rem;
}

.wheel :nth-child(7) {
  transform: rotate(270deg);
  top: 2.31rem;
  left: 0.39rem;
}

.wheel :nth-child(8) {
  transform: rotate(315deg);
  top: 0.66rem;
  right: 4.37rem;
}
