@keyframes wheel-3d {
  0% {
    transform: translateY(0rem);
  }
  25% {
    transform: translateY(-4rem);
  }
  100% {
    transform: translateY(0) rotate3d(0, 1, 0, 360deg);
  }
}

.wheel-3d-animation {
  animation-name: wheel-3d;
  animation-duration: var(--wheel-spin-duration);
  animation-iteration-count: infinite;
  animation-duration: calc(var(--wheel-spin-duration) * 4);
}
