@keyframes wheel-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2) rotate(90deg);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes wheel-section-pulse {
  0% {
    background-color: var(--wheel-section);
    transform: rotate(0deg);
  }
  50% {
    background-color: var(--wheel-section-hover);
    transform: rotate(180deg);
  }
  100% {
    background-color: var(--wheel-section);
    transform: rotate(360deg);
  }
}

.wheel-pulsing-animation {
  animation-name: wheel-pulse;
  animation-duration: var(--wheel-spin-duration);
  animation-iteration-count: infinite;
  background-color: transparent;
  overflow: visible;
  animation-duration: calc(var(--wheel-spin-duration) * 2);
  
}

.wheel-pulsing-animation .wheel-center{
  display: none;
}

.wheel-pulsing-animation :nth-child(even) {
  animation-name: wheel-section-pulse;
  animation-duration: calc(var(--wheel-spin-duration) * 4);
  transform: rotate(360deg) scale(1.2);
}
.wheel-pulsing-animation :nth-child(odd) {
  animation-name: wheel-section-pulse;
  animation-duration: calc(var(--wheel-spin-duration) * 4);
  animation-delay: calc(var(--wheel-spin-duration) * 2);
  transform: rotate(0deg);
}
