:root {
  --color: #111;
  --bg-color: #eee;

  /* wheel variables */
  --wheel-center: #333;
  --wheel-section: #555;
  --wheel-section-hover: #ffa500;
  --wheel-spin-duration: 0.75s;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color);
  background-color: var(--bg-color);
}
